# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.lib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Other binaries
*.exe
*.pdb
*.idpb

# Visual Studio Files
*.suo
*.vcxproj.user
ipch
*sdf
*.log
.vs
x64
Debug
Release
